<div class="list-room">
  <div class="list-room-header">
    <button (click)="backToHome()" class="btn"><i class="fa fa-arrow-left"></i></button>
    <h3>DANH SÁCH PHÒNG</h3>
  </div>
  <div class="list-room-container">
    <div *ngFor="let room of rooms" class="list-room-card">
      <div class="list-room-card-content">
        <div class="list-room-card-img">
          <img src="{{room.images[0].url}}" alt="">
          <button class="btn" (click)="viewImageRoom(room.images, roomDetail)" ><i class="fa fa-eye"></i></button>
        </div>
        <div class="list-room-card-info">
          <div class="list-room-card-info__title">
            {{room.name_room}}
          </div>
          <div class="list-room-card-info__txt">
            <p>{{room.description}}</p>
          </div>
          <div class="list-room-card-info__price">
            Giá 1h: <span>{{room.price}}<small>VNĐ</small></span>
          </div>
          <div class="btn-detail">
            <button (click)="chooseRoom(room.id, payment)" class="btn">Chọn Phòng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #roomDetail>
  <app-room [images]="imagesObject"></app-room>
</ng-template>

<ng-template #payment>
  <app-payment></app-payment>
</ng-template>
