<div class="container">
  <div class="footer">
    <div class="footer-action">
      <button (click)="showModal(pickRoom)">Đặt Phòng Ngay</button>
    </div>
    <div class="footer-nav">
      <div class="footer-nav-icon-home">
        <a href="/"><i class="fa fa-house-chimney"></i></a>
      </div>
      <div class="footer-nav-btn-chat">
        <button (click)="showChat()">CHÁT <br/><span>ẨN DANH</span></button>
      </div>
      <div class="footer-nav-line"></div>
      <div class="footer-nav-icon-call">
        <a href="/"><i class="fa fa-phone-alt"></i></a>
      </div>
    </div>
  </div>
</div>

<ng-template #pickRoom>
  <div class="col-12 content-popup">
    <form class="form-booking" (ngSubmit)="pickRoom" [formGroup]="formPickRoom">
      <div class="ladi-box">
        <div class="ladi-box__left"></div>
        <div class="content-popup-head">
          <div class="ladi-headline">ĐẶT PHÒNG</div>
        </div>
        <div></div>
      </div>
      <div class="ladi-box">
        <div></div>
        <div class="ladi-box__center">
          <input type="text" autofocus placeholder="Ngày nhận phòng" formControlName="dateCheckIn" >
        </div>
        <div class="ladi-box__right"></div>
      </div>
      <div class="ladi-box">
        <div class="ladi-box__left"></div>
        <div class="ladi-box__center">
          <input type="text" placeholder="Giờ nhận phòng" formControlName="timeCheckIn">
        </div>
        <div></div>
      </div>
      <div class="ladi-box">
        <div></div>
        <div class="ladi-box__center">
          <input type="text" placeholder="Giờ trả phòng" formControlName="timeCheckOut">
        </div>
        <div class="ladi-box__right"></div>
      </div>
      <div class="ladi-box">
        <div class="ladi-box__left"></div>
        <div class="ladi-box__center">
          <button (click)="nexStept()" class="ladi-bottom">KẾ TIẾP</button>
        </div>
        <div></div>
      </div>
      <div class="text-day">{{dateNow}}</div>
      <button (click)="hideModal()" class="closePopup">X</button>
    </form>
  </div>
</ng-template>

<!-- color: rgb(199, 22, 111); -->