<div class="container">
  <div class="footer">
    <div class="footer-action">
      <button>Đặt Phòng Ngay</button>
    </div>
    <div class="footer-nav">
      <div class="footer-nav-icon-home">
        <a href="/"><i class="fa fa-house-chimney"></i></a>
      </div>
      <div class="footer-nav-btn-chat">
        <button>CHÁT <br/><span>ẨN DANH</span></button>
      </div>
      <div class="footer-nav-line"></div>
      <div class="footer-nav-icon-call">
        <a href="/"><i class="fa fa-phone-alt"></i></a>
      </div>
    </div>
  </div>
</div>