<!-- <div class="container">
  <div class="footer">
    <div class="footer-action">
      <button (click)="showModal(pickRoom)">Đặt Phòng Ngay</button>
    </div>
    <div class="footer-nav">
      <div class="footer-nav-icon-home">
        <a href="/"><i class="fa fa-house-chimney"></i></a>
      </div>
      <div class="footer-nav-btn-chat">
        <button (click)="showChat()">CHÁT <br/><span>ẨN DANH</span></button>
      </div>
      <div class="footer-nav-line"></div>
      <div class="footer-nav-icon-call">
        <a href="/"><i class="fa fa-phone-alt"></i></a>
      </div>
    </div>
  </div>
</div> -->
<button (click)="showModal(pickRoom)">Đặt Phòng Ngay</button>
<ng-template #pickRoom>
  <div class="col-12 content-popup">
    <form (ngSubmit)="pickRoom" [formGroup]="formPickRoom">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4 text-center">Đặt Phòng</h6>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" formControlName="currentPassword" placeholder="Ngày nhận phòng">
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" formControlName="currentPassword" placeholder="Giờ nhận phòng">
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" formControlName="currentPassword" placeholder="Giờ trả phòng">
        </div>
        <button [disabled]="!formPickRoom.valid" type="submit" class="btn btn-success mt-2">Kế tiếp</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- color: rgb(199, 22, 111); -->
