.paymnet {
  .paymnet-title {
    h3 {
      text-align: center;
    }
  }
  .example-form {
    margin-top: 20px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
    .smail-text {
      font-size: 10px;
      color: rgb(206, 1, 1);
    }
  }

  .example-row {
    text-align: right;
    .example-row-price {
     .example-row-price__title {

     }
     .example-row-price__txt {

    }
    }
  }


}

